@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Inter;
  }
}

/* HERO SECTION START*/
/* * {
  border: 1px solid red;
} */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.play {
  width: 12rem;
  height: auto;
}
button.play .icon-play {
  background-color: #282936;
}

button.play .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.play .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  line-height: 1.6;
  text-align: center;
}

button:hover .circle {
  width: 100%;
}

button:hover .button-text {
  color: #fff;
}

.frame-active {
  @apply block;
}

/* HERO SECTION END*/

/* KALIMAT SECTION START */
.kata-slide {
  @apply text-4xl md:text-5xl font-semibold mx-9 uppercase;
}
.kalimat-slide-1 {
  @apply py-5;
  animation: 18s slideToRight infinite linear;
}
.kalimat-1:hover .kalimat-slide-1 {
  animation-play-state: paused;
}
.kalimat-2:hover .kalimat-slide-2 {
  animation-play-state: paused;
}
.kalimat-3:hover .kalimat-slide-3 {
  animation-play-state: paused;
}

.kalimat-slide-2 {
  @apply py-5;
  animation: 25s slideToLeft infinite linear;
}
.kalimat-slide-3 {
  @apply py-5;
  animation: 7s slideToLeft infinite linear;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* KALIMAT SECTION END */
/* KUTIPAN SECTION START */
.kutipan-active {
  @apply bg-opacity-100;
}
/* KUTIPAN SECTION END */

/* JENIS SECTION START */
.Angiospermae {
  background: url("../public/img/Jenis/Angiospermae.jpg");
}
.Pteridophyta {
  background: url("../public/img/Jenis/Pteridophyta.jpg");
}
.Bryophyta {
  background: url("../public/img/Jenis/Bryophyta.jpg");
}
.Gymnospermae {
  background: url("../public/img/Jenis/Gymnospermae.jpg");
}
.item {
  background-position: center;
  background-size: 75vh;
  margin: 1vw;
  border-radius: 2vw;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2vw;
  opacity: auto;
}
.judul {
  border-radius: 0 0 2vw 2vw;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  opacity: 0;
}
label {
  letter-spacing: 1rem;
  text-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
/* JENIS SECTION END */
