@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Inter;
  }
}
/* NAVIGASI START */
.humberger-line {
  @apply w-[30px] h-[2px] my-2 block  transition duration-300 ease-in-out;
  background: black;
}

.humberger-active > span:nth-child(1) {
  @apply rotate-45;
}
.humberger-active > span:nth-child(2) {
  @apply scale-0;
}
.humberger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.navbar-fixed {
  @apply fixed z-50 backdrop-blur-sm bg-white/70;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

/* NAVIGASI END */

/* HERO SECTION START*/
/* * {
  border: 1px solid red;
} */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.play {
  width: 12rem;
  height: auto;
}
button.play .icon-play {
  background-color: #282936;
}

button.play .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.play .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  line-height: 1.6;
  text-align: center;
}

button:hover .circle {
  width: 100%;
}

button:hover .button-text {
  color: #fff;
}

.frame-active {
  @apply block;
}

/* HERO SECTION END*/

/* KALIMAT SECTION START */
.kata-slide {
  @apply text-4xl md:text-5xl font-semibold mx-9 uppercase;
}
.kalimat-slide-1 {
  @apply py-5;
  animation: 18s slideToRight infinite linear;
}
.kalimat-1:hover .kalimat-slide-1 {
  animation-play-state: paused;
}
.kalimat-2:hover .kalimat-slide-2 {
  animation-play-state: paused;
}
.kalimat-3:hover .kalimat-slide-3 {
  animation-play-state: paused;
}

.kalimat-slide-2 {
  @apply py-5;
  animation: 25s slideToLeft infinite linear;
}
.kalimat-slide-3 {
  @apply py-5;
  animation: 7s slideToLeft infinite linear;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* KALIMAT SECTION END */
/* KUTIPAN SECTION START */
.kutipan-active {
  @apply bg-opacity-100;
}
/* KUTIPAN SECTION END */

/* JENIS SECTION START */
.Angiospermae {
  background: url("../public/img/Jenis/Angiospermae.jpg");
}
.Pteridophyta {
  background: url("../public/img/Jenis/Pteridophyta.jpg");
}
.Bryophyta {
  background: url("../public/img/Jenis/Bryophyta.jpg");
}
.Gymnospermae {
  background: url("../public/img/Jenis/Gymnospermae.jpg");
}
.item {
  background-position: center;
  background-size: 75vh;
  margin: 1vw;
  border-radius: 2vw;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2vw;
  opacity: auto;
}
.judul {
  border-radius: 0 0 2vw 2vw;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  opacity: 0;
}
label {
  letter-spacing: 1rem;
  text-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
/* JENIS SECTION END */

/* ARTIKEL SECTION START */

.card-asrtikel-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .heading {
  font-weight: 700;
  color: #005b4c;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #005b4c;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-asrtikel-left::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background: #005b4c;
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-asrtikel-left:hover::before {
  width: 100%;
}

.card-asrtikel-left:hover {
  box-shadow: none;
}

.card-asrtikel-left:hover .content .heading {
  color: #fff !important;
}

.card-asrtikel-left:hover .content .para {
  color: #fff !important;
}

.card-asrtikel-left:hover .content .btn {
  color: #fff;
  background: #ffb22c;
}

.content .btn:hover {
  outline: 2px solid #ffb22c;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}

/* ARTIKEL SECTION END */

/* TEAM SECTION START */
/* From Uiverse.io by Artahs */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="discord"] .filled,
.example-2 .icon-content a[data-social="discord"] ~ .tooltip {
  background-color: #7289da;
}

.example-2 .icon-content a[data-social="steam"] .filled,
.example-2 .icon-content a[data-social="steam"] ~ .tooltip {
  background-color: #171d25;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

/* TEAM SECTION END */
